" GENERAL VIM SETTINGS

:set relativenumber					" show relative line numbers
:set number						" always show line numbers
:set ignorecase						" searches case insensitive
:set clipboard=unnamed					" use system clipboard to yank/paste


" IDEA-SPECIFIC SETTINGS

" create new class using \nj
:nnoremap \nj :action NewClass<CR>			

" create new Kotlin class using \nk
:nnoremap \nk :action Kotlin.NewFile<CR>			

" reload vimrc on \r
:nnoremap \r :source ~/.ideavimrc<CR>	

" open class with \o
:nnoremap \o :action GotoClass<CR>

" search with \p
:nnoremap \p :action FindInPath<CR>

" run with \sr
:nnoremap \sr :action Run<CR>

" run class with \sc
:nnoremap \sc :action RunClass<CR>

" stop with \ss
:nnoremap \ss :action Stop<CR>

